/* Use this when you are ready to make a media query style

@media screen and (max-width: 768px) {
  

}  */

* {
    padding:0px;
    margin:0px;
}
/* bc chrome has a default padding margin settings*/

.container {
    background-color:white;
    height: 400px;
    display: flex;
}

.box{
    background-color: aquamarine;
    height: 400px;
    width: 50%;
}

.boxinfo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(34, 71, 88);
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box img{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box2 img{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.byline {
    color: white;
    margin-bottom: 10%;
}

.sectionhead {
    color: white;
}

h1 {
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

h2 {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.boxarticle {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    height: 500px;
    width: 24%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1%;
    padding-left: 1%;
}

.title1{
    color: red;
    font-size: small;
    margin-top: 1%;
}

.title2{
    color: black;
    font-size:larger;
    margin-top: 3%;
    margin-bottom: 3%;
}

.title4{
    color: black;
    margin-top:5%;

}


@media screen and (max-width: 768px){
    .box{
        background-color: aqua;
        height: 400px;
        width: 100%;
    }

    .boxinfo{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(34, 71, 88);
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        background-color: lemonchiffon;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .boxarticle{
        font-family: 'Times New Roman', Times, serif;
        background-color: white;
        height: 500px;
        width: 24%;
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-top: 1%;
        padding-left: 1%;
    }

    .box2 img{
        background-color: aquamarine;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}